@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "./Mixins";
@import "./Fonts";
/* General styles */
* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
}

:root {
  // --primary-color: ;
  // --secondary-color: ;
  // --accent-color: ;
  // --success-color: ;
  // --error-color: ;
  // --warning-color: ;
  --primary-font: "'Georgia Regular', serif";
  // --secondary-font: ;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
}
body {
  font-size: 1.6rem;
  min-height: 100vh;
}

input,
select,
textarea,
button {
  background-color: transparent;
  border: 0;
}
button {
  cursor: pointer;
  transition: all 0.1s linear;
}
button:active {
  transform: translateY(4px);
}

#modal-root,
#loader-root {
  position: absolute;
}

#modal-root {
  z-index: 5;
}
#loader-root {
  z-index: 10;
}
